replicaCount: 2

image:
  repository: ACCOUNT_ID.dkr.ecr.us-east-1.amazonaws.com/orders-microservice
  tag: latest
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80
  targetPort: 3000

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "3000"